.parallax {
    background-image: url("../../assets/bg1.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#custom-nav .nav-link {
    color: var(--primary);
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
    align-items: center;
    background-color: transparent;
}

.custom-quote {
    border-radius: 10%;
    border: 2px solid var(--primary);
    color: var(--primary);
}

#hero {
    padding: 4rem 0 4rem 0;
}

#hero p {
    color: purple;
    font-size: 1.3rem;
}

#hero h1 {
    font-size: 6rem;
}

#hero h3 {
    font-size: 4rem;
}